
:root {

    --main-text-color: #173857;
    --button-text-color: #ffffff;

    --green: #5BE586;
    --green-dark: #50c675;
    --purple-1: #DADCF7;
    --purple-2: #9187F7;

    --font-principal: 'League Spartan', sans-serif;

}

body {
    height: 100vh; /* Altura igual a la ventana del navegador */
    background-image: url('../assets/images/background.png');
    background-size: cover;   /* Escala la imagen para cubrir todo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Opcional: si quieres que los hijos estén uno debajo del otro */
    text-align: center;      /* Centra el texto */
}

.main-icon {
    width: 120px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción */
    margin-bottom: 20px; /* Espacio debajo del icono */
    margin-top: 70px;
}

.main-title {
    font-size: 64px;
    font-weight: semi-bold;
    font-family: var(--font-principal);
    color: var(--main-text-color);
    margin: 0; /* Elimina el margen por defecto */
}

.main-description {
    font-size: 32px;
    font-family: var(--font-principal);
    color: var(--main-text-color);
    margin: 0; /* Elimina el margen por defecto */

}

.main-button {
    background-color: var(--green);
    color: var(--button-text-color);
    border: none;
    border-radius: 60px;
    cursor: pointer;
    transition: background-color 0.3s;

    margin-top: 40px;
    padding: 10px 20px;


    font-size: 32px;
    font-weight: bold;
    font-family: var(--font-principal);
}

.main-button:hover {
      background-color: var(--green-dark);
}

.main-span {
    letter-spacing: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.modal {

    background-color: var(--purple-1);
    border: none; 
    border-radius: 30px;
    max-width: 620px;
    max-height: 500;

    font-family: var(--font-principal);

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.modal-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Opcional: si quieres que los hijos estén uno debajo del otro */
    text-align: center;      /* Centra el texto */

    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
    margin: 0; /* Elimina el margen por defecto */
}

.submit-button {
    background-color: var(--green);
    color: var(--button-text-color);
    border: none;
    border-radius: 60px;
    cursor: pointer;
    transition: background-color 0.3s;

    margin-top: 40px;
    padding: 10px 20px;


    font-size: 32px;
    font-weight: bold;
    font-family: var(--font-principal);
    
} 

.submit-span {
    color: #ffffff;
    letter-spacing: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.submit-button:hover {
      background-color: var(--green-dark);
}

#title-modal {
    font-size: 32px;
    margin: 20px;
    margin-bottom: 0%;
}

#parrafo-modal {
    font-size: 24px;
    font-weight: lighter;
    max-width: 450px;
    margin-top: 10px;
}

#prompt {
    border: none;
    outline: none;
    background-color: var(--purple-2);
    border-radius: 20px;
    width: 380px;
    height: 40px;

    font-family: 'League Spartan', sans-serif;
    color: var(--button-text-color);
    text-align: center;
    font-size: 18px;

}

#label-prompt {
    font-size:24px;
    margin: 20px;
}


#label-r {
    font-size: 24px;
    margin: 20px;
}


#label-pages {
    font-size: 24px;
    margin: 20px;
}

#number-p, #number-r, #number-pages {
    border: none;
    outline: none;
    background-color: var(--purple-2);
    border-radius: 20px;
    width: 100px;
    height: 40px;

    font-family: 'League Spartan', sans-serif;
    color: var(--button-text-color);
    text-align: center;
    font-size: 18px;
}



/* ------------------------------------------- */
/* BLOQUE FINAL: quitar flechitas (spinners) de inputs tipo number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}